@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
/* font-family: 'Oleo Script Swash Caps', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------------------------------------------------------------------------- */
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0px  14px;
}
#logo img{
    height: 65px;
    width: auto;
    filter: invert();
}
#navbar{
    background-color: #d43b3b;
    font-family: 'Yeon Sung' ;
    padding: 8px, 14px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar li{
    list-style: none;
    margin: 5px 5px;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding: 4px;
}

#navbar li a{ 
   text-decoration: none;
    padding: 2px 20px;
    color: white;
}
#navbar li a:hover{
    color: black; 
    background-color: #ee7b7b;
    border-radius: 4px;
    
}
/* ----------------------------------------------------------------------------------------------------- */
#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    font-family: 'Quicksand', sans-serif; 
    font-size: 3rem;
    text-shadow: 3px 3px black;
    font-weight: 900;
    padding-bottom: 125px;

}
#introSection p{
    font-size: 1.3rem;
    font-weight: 200;
    /* background-color: black; */
    padding: 3px 4px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

#introSection::before{
    content: " ";
    background: url('/static/images/intro5.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 390px;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}
/* ------------------------------------------------------------------------------------------------------------ */
#missionSection{
    height: 350px;
}
#missionSection h2{
    font-size: 39px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Quicksand', sans-serif; 
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: rgba(224, 224, 224, 0.836);
    box-shadow: 1px 1px 8px black;
    border-radius: 10px;
    height: 200px;
    width: 20%;
    margin: 31px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.card h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-style: italic;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    /* padding: 0 14px; */
    margin: 5px 9px;
}
.card-img img{
    height: inherit; 
}
/* ------------------------------------------------------------------------ */

#sponsersSection{
    height: 210px;
    background-color: #ee7b7bc5;
}
#sponsersSection h2{
    font-size: 39px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Quicksand', sans-serif;
}
#sponsors{
    height: 120px;
    max-width: 100px;
    margin: auto
}

.spImage{
    height: 80px;
    margin: 20px;
}

#footer{
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}